.Collection {
    display: flex;
    flex-direction: column;
  
    .Collection-title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .Collection-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
  
      & .CollectioniItem {
        margin-bottom: 30px;
      }
    }
  }
  